@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}
.logo{
    width: 15%;
    border-radius: 50%;
    
}
.bar-nav {
    background-color: #000000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 300;
    padding: 10px;
}

.bar-nav .nav-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

/* .bar-nav .header-list {
    height: 50px;
} */

h1 {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

#active {
    color: dodgerblue;
    display: block;
}
/* SCROLL TO TOP */

#progress {
    background-color: dodgerblue;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #b1afaf;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
.header-list, .header-link{
    display: inline-block;
}
.bar-nav .header-link {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.header-link:hover {
    position: relative;
    /* bottom: 7px; */
    display: block;
    color: dodgerblue;
    transition: width 2s, linear, 0.5s;
}
.bar-nav .header-list:first-child {
    margin-right: auto;
}

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    color: #333232;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar .header-list {
    width: 100%;
}

.side-bar .header-link {
    width: 100%;
}

.fa-bars{
    color: #dddedf;
    font-size: 26px;
    float: inline-end;
    margin-right: 1.2rem;
}
.fa-bars:hover{
    color: #5bd7fd;
    transition: 800ms ease;
}
.fa-xmark {
    position: relative;
    left: 1rem;
    top: 10px;
    font-size: 25px;
    color: gainsboro;
}

.fa-xmark:hover {
    color: rgb(255, 255, 255);
}

#menu-btn {
    display: none;
}
/* Intro Section */
.intro-section{
    background-image: url(..//Images/IMG-20240902-WA0018.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 620px;
     animation: animate 16s infinite;
}
@keyframes animate {
    0%,100%{
        background-image: url(..//Images/IMG-20240902-WA0018.jpg);
    }
   25% {
       background-image: url(..//Images/IMG-20240902-WA0024.jpg);
   }
   50%{
       background-image: url(..//Images/IMG-20240903-WA0070.jpg);
   }
   75% {
       background-image: url(..//Images/IMG-20240904-WA0074.jpg);
   }
}
.intro-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 620px;
    background: rgba(0, 0, 0, 0.5);
 }
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 17rem;
}
.intro-text-1 {
    font-size: 36px;
    font-weight: 900;
    color: rgb(243, 243, 243);
    font-family: "Nothing You Could Do", cursive;
}
.intro-text-2 {
    font-family: "Josefin Sans", sans-serif;
    color: honeydew;
    font-size: 42px;
    font-weight: 600;
}
/* Product Section */
.product-section{
    background-image: url(..//Images/bg_4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
}
.product-head{
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    color: #e6e5e5;
    text-align: center;
}
.product-text{
    font-family: "Poppins", sans-serif;
    color: #b1afaf;
}
.slider-heading, .slide-head-1{
    font-family: "Josefin Sans", sans-serif;
    color: honeydew;
    font-size: 28px; 
    letter-spacing: 1.5px;
    
}

 .slide-head{
    font-family: "Josefin Sans", sans-serif;
    color: honeydew;
    font-size: 24px; 
    letter-spacing: 1.5px;
    text-align: center;
    /* transform: translate(300%, -15%); */
}
.swiper-container {
    width: 100%;
    padding: 20px 0;
    height: auto;
    position: relative;
  }
.product-image{
    /* width: 35%;
    height: 300px; */
   width: 100%;
  height: 250px;
  border-radius: 15px;
  display: block;
  object-fit: cover;
}
#arrow-1{
   transform: translate(150%, 0%);
   font-weight: 900;
   background-color: #e6e5e5;
}
#arrow-2{
    transform: translate(-150%, 0%);
    font-weight: 900;
    background-color: #e6e5e5;
 }
#pagination{
    position: relative;
    top: 20px;
    color: #dddedf;
    background-color: rgb(209, 211, 212);
    width: 25%;
    margin: auto;
}
.swiper-pagination-bullet-active{
    color: aqua;
}
/* Footer Section */
footer{
    padding: 20px;
    background-color: #000000;
}
.foot-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.foot-head{
    color: aliceblue;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
.foot-list{
    list-style: none;
    line-height: 2rem;
}
.footer-links{
    color: rgb(223, 222, 222);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.fa-circle-chevron-right, .fa-phone-volume, .fa-envelope{
    color: #706f6f;
}
.fa-tiktok, .fa-whatsapp, .fa-instagram, .fa-facebook, .fa-x-twitter{
    color: #e4e3e3;
}
.copyright{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    text-align: center;
}
.programmer{
    font-family: "Josefin Sans", sans-serif;
    color: #5bd7fd;
    text-align: center; 
}
/* Responsive  Design */
@media (max-width:1114px) {
    .header-list{
        width: 70%;
    }
    .logo{
        width: 35%;
        border-radius: 50%;
        
    }
}
@media (max-width:1024px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 30%;
        margin: auto;
    }
}
@media (max-width:912px) {
    .header-list, .header-link{
        width: 150%;
    }
    .logo{
        width: 35%;
        border-radius: 50%;  
    }
    .contact-info{
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }
    .swiper-slide {
        width: 50%;  /* Two images per slide */
      }
      #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 37%;
        margin: auto;
    }
}
@media (max-width:884px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 40%;
        margin: auto;
    }
    .header-list, .header-link{
        width: 150%;
    }
    .logo{
        width: 35%;
        border-radius: 50%;
        
    }
    .foot-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }
    .foot-head{
        color: aliceblue;
        font-size: 18px;
        font-family: "Josefin Sans", sans-serif;
    } 
}
@media (max-width:834px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 43%;
        margin: auto;
    }
    .foot-container{
        display: grid;
        grid-template-columns:auto auto;
        gap: 30px;
    }
}
@media (max-width:800px) {
    #hideOnMobile {
        display: none;
    }

    #menu-btn {
        display: block;
    }
    .logo{
        width: 25%;
        border-radius: 50%;
        
    }
    .header-list{
        line-height: 5rem;
    }
         .bar-nav .header-link {
             height: 100%;
             padding: 0 15px;
             text-decoration: none;
             display: flex;
             align-items: center;
             color: #ffffff;
             font-family: "Josefin Sans", sans-serif;
             font-size: 20px;
             font-weight: 700;
         }
    
         .header-link:hover {
             position: relative;
             /* bottom: 7px; */
             background-color: dodgerblue;
             transition: width 2s, linear, 0.5s;
             color: aliceblue;
         }
         #active:hover{
            background-color: dodgerblue;
            transition: width 2s, linear, 0.5s;
            color: aliceblue;
         }
}
@media (max-width:768px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 45%;
        margin: auto;
    }
}
@media (max-width:540px) {
    #address{
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
     }
}
@media (max-width:430px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 50%;
        margin: auto;
    }
    .foot-container{
        display: grid;
        grid-template-columns:auto auto;
        gap: 15px;
    }
    .footer-links{
        color: rgb(223, 222, 222);
        text-decoration: none;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
    }
    #address{
       word-wrap: break-word;
       overflow-wrap: break-word;
       word-break: break-all;
    }
    .programmer{
        width: 65%;
        text-align: center;
        margin: auto;
    }
    #address2{
        font-size: 17px;
    }
}
@media (max-width:414px) {
    #address2{
        font-size: 16px;
    }
    #reduce{
        font-size: 13px;
    }
}
@media (max-width:412px) {
    .programmer{
        width: 75%;
        text-align: center;
        margin: auto;
    }
}
@media (max-width:393px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 60%;
        margin: auto;
    }
    #reduce{
        font-size: 12px;
    }
    .footer-links{
        color: rgb(223, 222, 222);
        text-decoration: none;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
    }
}
@media (max-width:375px) {
    .programmer{
        width: 85%;
        text-align: center;
        margin: auto;
    }
}
@media (max-width:320px) {
    #pagination{
        position: relative;
        top: 20px;
        color: #dddedf;
        background-color: rgb(209, 211, 212);
        width: 70%;
        margin: auto;
    }
   
}