@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}
.logo{
    width: 15%;
    border-radius: 50%;
    
}
.bar-nav {
    background-color: #000000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 10px;
}

.bar-nav .nav-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

/* .bar-nav .header-list {
    height: 50px;
} */

h1 {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

#active {
    color: dodgerblue;
    display: block;
}
/* SCROLL TO TOP */

#progress {
    background-color: dodgerblue;
    z-index: 3;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #b1afaf;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
.header-list, .header-link{
    display: inline-block;
}
.bar-nav .header-link {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.header-link:hover {
    position: relative;
    /* bottom: 7px; */
    display: block;
    color: dodgerblue;
    transition: width 2s, linear, 0.5s;
}
.bar-nav .header-list:first-child {
    margin-right: auto;
}

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    color: #333232;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar .header-list {
    width: 100%;
}

.side-bar .header-link {
    width: 100%;
}

.fa-bars {
    color: #dddedf;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.2rem;
}
.fa-bars:hover{
    color: #5bd7fd;
    transition: 800ms ease;
}
.fa-xmark {
    position: relative;
    left: 1rem;
    top: 10px;
    font-size: 25px;
    color: gainsboro;
}

.fa-xmark:hover {
    color: rgb(255, 255, 255);
}

#menu-btn {
    display: none;
}
/* Intro Section */
.intro-section{
    background-image: url(..//Images/IMG-20240902-WA0018.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 620px;
     animation: animate 16s infinite;
}
@keyframes animate {
    0%,100%{
        background-image: url(..//Images/IMG-20240902-WA0018.jpg);
    }
   25% {
       background-image: url(..//Images/IMG-20240902-WA0024.jpg);
   }
   50%{
       background-image: url(..//Images/IMG-20240903-WA0070.jpg);
   }
   75% {
       background-image: url(..//Images/IMG-20240904-WA0074.jpg);
   }
}
.intro-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 620px;
    background: rgba(0, 0, 0, 0.5);
 }
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 17rem;
}
.intro-text-2 {
    font-family: "Josefin Sans", sans-serif;
    color: honeydew;
    font-size: 42px;
    font-weight: 600;
}
/* Team section */
.team-section{
    padding: 30px;
}
.team-head{
    font-family: "Josefin Sans", sans-serif;
    color: rgb(5, 5, 5);
    font-size: 32px;
    text-align: center;
}
.team-intro{
    font-family: "Poppins", sans-serif;
}
.team-title{
    font-family: "Dancing Script", cursive;
    color: #830303;
    font-size: 28px;
}
.ceo{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 3rem;
    gap: 20px;
}
.ceo-container{
    width: 95%;
    border: 1.5px black solid;
    padding: 20px;
    background-color: peachpuff;
    max-height: 80vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.ceo-name{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}
.ceo-content{
    font-family: "Poppins", sans-serif; 
    text-align: center;
}
.ceo-image{
    width: 60%;
    border: 5px goldenrod solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}
.socials{
    background-color: #000000;
    width: 45%;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    margin-left: 3rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 3px goldenrod solid;
    position: relative;
    bottom: 4px;
}
#s-icon{
    font-size: 20px;
    color: gainsboro;
}
#s-icon:hover{
    color: aqua;
    transition: 800ms ease;
}
.co-founders{
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}
.co-img{
    width: 50%;
    border: 3px goldenrod solid;
    position: relative;
    top: 4px;
    left: 5.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.co-content{
    width: 85%;
    border: 2px black solid;
    padding: 20px;
    background-color: peachpuff;
}
.co-name{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;   
    font-size: 22px;
}
.co-title{
    font-family: "Dancing Script", cursive;
    text-align: center;   
    font-size: 28px;
    color: rgb(184, 17, 17);
}
.co-text{
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.bold{
    font-weight: 600;

}
.socials-1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#s-icon2{
    color: #000000;
    font-size: 20px;
}
/* Footer Section */
footer{
    padding: 20px;
    background-color: #000000;
}
.foot-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.foot-head{
    color: aliceblue;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}
.foot-list{
    list-style: none;
    line-height: 2rem;
}
.footer-links{
    color: rgb(223, 222, 222);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.fa-circle-chevron-right, .fa-phone-volume, .fa-envelope{
    color: #706f6f;
}
.fa-tiktok, .fa-whatsapp, .fa-instagram, .fa-facebook, .fa-x-twitter{
    color: #e4e3e3;
}
.copyright{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    text-align: center;
}
.programmer{
    font-family: "Josefin Sans", sans-serif;
    color: #5bd7fd;
    text-align: center; 
}
/* Responsive Design */
@media (max-width:1280px) {
    .ceo{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 7rem;
        gap: 105px;
    }
    .ceo-container{
        width: 115%;
        border: 1.5px black solid;
        padding: 20px;
        background-color: peachpuff;
        max-height: 80vh;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}
@media (max-width:1114px) {
    .header-list{
        width: 70%;
    }
    .logo{
        width: 35%;
        border-radius: 50%;
        
    }
.customer-1, .customer-2,
.customer-3, .customer-4,
.customer-5 , .customer-6{

    border: 1.5px black solid;
    width: 100%;
    background-color: rgb(168, 166, 166);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 30px;
}
.ceo{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 9rem;
    gap: 100px;
}
.ceo-container{
    width: 125%;
    border: 1.5px black solid;
    padding: 20px;
    background-color: peachpuff;
    max-height: 100vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
}
@media (max-width:1024px) {
    .ceo{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 5rem;
        gap: 100px;
    }
    .ceo-container{
        width: 125%;
        border: 1.5px black solid;
        padding: 20px;
        background-color: peachpuff;
        max-height: 90vh;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    .socials{
        background-color: #000000;
        width: 45%;
        display: flex;
        justify-content: center;
        width: 50%;
        /* padding: 20px 90px; */
        gap: 30px;
        margin-left: 1.5rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 3px goldenrod solid;
        position: relative;
        bottom: 4px;
    }
}
@media (max-width:912px) {
    .header-list, .header-link{
        width: 150%;
    }
    .ceo{
       display: flex;
       flex-direction: column-reverse;
        margin-left: 3rem;
        gap: 20px;
    }
    .ceo-container{
        width: 95%;
        border: 1.5px black solid;
        padding: 20px;
        background-color: peachpuff;
        max-height: 90vh;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    .ceo-image{
        width: 60%;
        border: 5px goldenrod solid;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 6rem;
    }
    .socials{
        background-color: #000000;
        width: 45%;
        display: flex;
        justify-content: center;
        width: 50%;
        /* padding: 20px 90px; */
        gap: 30px;
        margin-left: 8.5rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 3px goldenrod solid;
        position: relative;
        bottom: 4px;
    }
    .co-founders{
        display: grid;
        grid-template-columns: auto;
        gap: 25px;
    }
    .co-img{
        width: 50%;
        border: 3px goldenrod solid;
        position: relative;
        top: 4px;
        left: 7.5rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    #Cisco, #Honor{
        margin-left: 6.5rem;
    }
    .team-title{
        font-family: "Dancing Script", cursive;
        font-size: 28px;
        text-align: center;
    }
}
@media (max-width:884px) {
    .header-list, .header-link{
        width: 150%;
    }
    .logo{
        width: 35%;
        border-radius: 50%;
        
    }
    .main-customers{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .foot-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }
    .foot-head{
        color: aliceblue;
        font-size: 18px;
        font-family: "Josefin Sans", sans-serif;
    } 
}
@media (max-width:834px) {
    .foot-container{
        display: grid;
        grid-template-columns:auto auto;
        gap: 30px;
    }
}
@media (max-width:800px) {
    #hideOnMobile {
        display: none;
    }

    #menu-btn {
        display: block;
    }
    .logo{
        width: 25%;
        border-radius: 50%;
        
    }
    .header-list{
        line-height: 5rem;
    }
         .bar-nav .header-link {
             height: 100%;
             padding: 0 15px;
             text-decoration: none;
             display: flex;
             align-items: center;
             color: #ffffff;
             font-family: "Josefin Sans", sans-serif;
             font-size: 20px;
             font-weight: 700;
         }
    
         .header-link:hover {
             position: relative;
             /* bottom: 7px; */
             background-color: dodgerblue;
             transition: width 2s, linear, 0.5s;
             color: aliceblue;
         }
         #active:hover{
            background-color: dodgerblue;
            transition: width 2s, linear, 0.5s;
            color: aliceblue;
         }
}
@media (max-width:768px) {
    .co-img{
        width: 50%;
        border: 3px goldenrod solid;
        position: relative;
        top: 4px;
        left: 6.5rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .co-content{
        width: 85%;
        border: 2px black solid;
        padding: 20px;
        background-color: peachpuff;
    }
}
@media (max-width:430px) {
    .intro-text-2 {
        font-family: "Josefin Sans", sans-serif;
        color: honeydew;
        font-size: 32px;
        font-weight: 600;
    }
    .team-head{
        font-family: "Josefin Sans", sans-serif;
        color: rgb(5, 5, 5);
        font-size: 28px;
        text-align: center;
    }
    .ceo{
        display: flex;
        flex-direction: column-reverse;
         margin-left: 1rem;
         gap: 20px;
     }
     .ceo-container{
         width: 95%;
         border: 1.5px black solid;
         padding: 20px;
         background-color: peachpuff;
         max-height: 150vh;
         box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
     }
     .ceo-image{
         width: 70%;
         border: 5px goldenrod solid;
         border-top-left-radius: 30px;
         border-top-right-radius: 30px;
         box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
         margin-left: 2.5rem;
     }
     .socials{
         background-color: #000000;
         display: flex;
         justify-content: center;
         width: 50%;
         padding: 20px 10px;
         gap: 10px;
         margin-left: 5rem;
         border-bottom-left-radius: 30px;
         border-bottom-right-radius: 30px;
         border: 3px goldenrod solid;
         position: relative;
         bottom: 4px;
     }
     #s-icon{
        font-size: 17px;
        color: gainsboro;
    }
    #s-icon:hover{
        color: aqua;
        transition: 800ms ease;
    }
    .co-founders{
        display: grid;
        grid-template-columns: auto;
        gap: 25px;
    }
    .co-img{
        width: 60%;
        border: 3px goldenrod solid;
        position: relative;
        top: 4px;
        left: 5rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .co-content{
        width: 105%;
        border: 2px black solid;
        padding: 20px;
        background-color: peachpuff;
    }
    #Cisco, #Honor{
        margin-left: 0.25rem;
    }
    .foot-container{
        display: grid;
        grid-template-columns:auto auto;
        gap: 15px;
    }
    .footer-links{
        color: rgb(223, 222, 222);
        text-decoration: none;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
    }
    #address{
       word-wrap: break-word;
       overflow-wrap: break-word;
       word-break: break-all;
    }
    .programmer{
        width: 65%;
        text-align: center;
        margin: auto;
    }
}
@media (max-width:414px) {
    .ceo-container{
        width: 105%;
        border: 1.5px black solid;
        padding: 20px;
        background-color: peachpuff;
        max-height: 150vh;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        position: relative;
        right: 10px;
    }
    .co-name{
        font-family: "Josefin Sans", sans-serif;
        text-align: center;   
        font-size: 20px;
    }
    #reduce{
        font-size: 13px;
    }
    .programmer{
        width: 75%;
        text-align: center;
        margin: auto;
    }
}
@media (max-width:393px) {
    .socials{
        background-color: #000000;
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 20px 10px;
        gap: 10px;
        margin-left: 4.5rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 3px goldenrod solid;
        position: relative;
        bottom: 4px;
    }
    .co-img{
        width: 60%;
        border: 3px goldenrod solid;
        position: relative;
        top: 4px;
        left: 4rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    #reduce{
        font-size: 12px;
    }
    .footer-links{
        color: rgb(223, 222, 222);
        text-decoration: none;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
    }
}
@media (max-width:320px) {
    .socials{
        background-color: #000000;
        display: flex;
        justify-content: center;
        width: 55%;
        padding: 20px 10px;
        gap: 10px;
        margin-left: 3.7rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 3px goldenrod solid;
        position: relative;
        bottom: 4px;
    }
    .ceo-container{
        width: 105%;
        border: 1.5px black solid;
        padding: 20px;
        background-color: peachpuff;
        max-height: 180vh;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        position: relative;
        right: 10px;
    }
    .co-img{
        width: 60%;
        border: 3px goldenrod solid;
        position: relative;
        top: 4px;
        left: 3.5rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}